#################
# Backups
#################

*~
*.bak

#################
## Qt Designer
#################

*.user*
*.autosave

################
# Eclipse
################

.settings
.cproject
.project

################
# Paths
################

Releases
build*
