#################
# Backups
#################

*~
*.bak

#################
## Qt Designer
#################

*.user*
*.autosave

################
# Eclipse
################

.settings

################
# Paths
################

Releases
build
