#include <windows.h>
#include "resources.h"

// Messages

// English
STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
POWERWIN_STR_TOPMOST, "Always topmost"
END

// German
STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
BEGIN
POWERWIN_STR_TOPMOST, "Immer im Vordergrund"
END